*{
    box-sizing: border-box; /* calculate the box size ()height & width)
                           disregarding any border width and padding width */
}
html {
    font-size: 25px;
}
input, textarea {
    font-size: 20px;
}
body{
    background-color: rgb(30, 90, 30);
}
h2{
    color: white;
    text-align: center;
}
label{
    color: white;
}
#playerNoSection{
    text-align: center;
}
#inputSection{
    display: none;
}
#userNameTitle{
    display: none;
}
#startGame{
    display: none;
}
.playerName{
    text-align: center;
    width: 100px;
}
button{
    background-color: rgb(30, 90, 30);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
#playerNoNext{
    display: block;
    margin: 0 auto;
}
#flower{
    text-align: center;
    width: 50px;
}
.inGame{
    display: none;
}
div{
    max-width: 600px;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
#innerBoxE-1{
    width: 40%;
    float: left;
    border: 0px;
}
#innerBoxE-2{
    width: 60%;
    float: left;
    border: 0px;
}
#innerBoxW-1{
    width: 40%;
    float: left;
    border: 0px;
}
#innerBoxW-2{
    width: 60%;
    float: left;
    border: 0px;
}
#innerBoxS-1{
    width: 40%;
    float: left;
    border: 0px;
}
#innerBoxS-2{
    width: 60%;
    float: left;
    border: 0px;
}
#innerBoxN-1{
    width: 40%;
    float: left;
    border: 0px;
}
#innerBoxN-2{
    width: 60%;
    float: left;
    border: 0px;
}
#loseSection{
    text-align: center;
    border: 0px;
}
#flowerE{
    width: 120px;
}
#flowerS{
    width: 120px;
}
#flowerW{
    width: 120px;
}
#flowerN{
    width: 120px;
}
#inputSection{
    text-align: center;
    border: 0px;
}
.titleSection{
    text-align: center;
    border: 0px;
}
#roundTitle{
    display: none;
}
#finishRound{
    display: none;
}
input[type="checkbox"] {
    cursor: pointer;
}
input[type="radio"] {
    cursor: pointer;
}
#scoreTable{
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 500px;
    table-layout: fixed;
    display: none;
}
table{
    padding-top: 10px;
    padding-bottom: 10px;
}
th, td{
    text-align: center;
    font-size: 20px;
}
.nextButton{
    display: none;
}
#totalScoreTitle{
    display: none;
}
#dividingLine{
    padding: 0px;
}
.winning{
    position: relative;
    width: 300px;
    height: auto;
    display: none;
}
.winning img{
    width: 100%;
    height: auto;
    display: block;
}
.winText{
    position: absolute;
    inset: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
.winning h2 {
    margin: 5px;
    margin-bottom: 5px; /* spacing between two h2 */
}




